*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    background: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-nav{
  position: sticky;
  top: 0;
  z-index: 9999;
}
.index-container{
  position: relative;
  width: 100%;
  min-height: 700px;
}
.index-wrap{
  width: 80%;
  display: inline-flex;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;

}
.left-menu{
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}
main{
  width: 55%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.right-menu{
  width: 20%;
  height: 100%;
  float: right;
  position: relative;
}
